<html>
    <style type="text/css">
        body{color:#efd;background: #2FC3A3;padding: 0 5em;margin: 0;border:2px solid;border-radius:25px;}
        h1{padding: 1em 0em;background: #2FC3A3;text-shadow: 5px 5px 5px #eeffdd;font-size:30px}
        h2{border-bottom: 1px solid #ffffff;margin-top: 0em;background-color:#2FC3A3}
        p{margin: 1em 0;border-color: #888888}
        div{border:2px solid;border-radius:25px;margin:1em}
    </style>
    <body>
        <h1>pb's blog</h1>
        <h3>to be someone's rainbow</h3>
        {% block content %}
        {% endblock %}

    </body>
</html>